@model InsuranceApp_Accounts.Models.Client

@{
	ViewData["Title"] = "Odstranění pojistné událost";
}

<div class="shadow p-3 rounded table-responsive-md text-nowrap">
	<div class="pb-1"><h3>Odstranění pojistné události</h3></div>

	<form method="post" asp-action="DeleteEvent">
		<input type="hidden" asp-for="Id" />
		<div class="row row-cols-2">

			<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label asp-for="EventSubject" class="control-label"><h5 style="color:white">Předmět pojistné události</h5></label>
				<input disabled asp-for="EventSubject" type="text" class="form-control" placeholder="Byt">
				<span asp-validation-for="EventSubject" class="text-danger"></span>
			</div>

			<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label asp-for="Place" class="control-label"><h5 style="color:white">Místo pojistné události</h5></label>
				<input disabled asp-for="Place" type="text" class="form-control" placeholder="Praha">
				<span asp-validation-for="Place" class="text-danger"></span>
			</div>

			<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label asp-for="EventDate" class="control-label"><h5 style="color:white">Datum pojistné události</h5></label>
				<input disabled asp-for="EventDate" type="text" class="form-control" placeholder="1.9.2022">
				<span asp-validation-for="EventDate" class="text-danger"></span>
			</div>

			<div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<label asp-for="Event" class="control-label"><h5 style="color:white">Popis pojistné události</h5></label>
				<textarea disabled asp-for="Event" type="text" class="form-control" placeholder="Popište co se stalo..." rows="4"></textarea>
			</div>

			<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
				<hr mx-5 />
			</div>

		</div>

		<div class="form-group text-center">
			<button type="button" class="btn mx-3 mt-3 btn-danger" data-bs-toggle="modal" data-bs-target="#myModal"><i class="bi bi-trash-fill"></i> Odstranit</button>
			<!-- Modal -->
			<div class="modal fade" id="myModal">
				<div class="modal-dialog modal-dialog-centered">
					<div class="modal-content">

						<!-- Modal Header -->
						<div class="modal-header text-center">
							<h4 class="modal-title">Odstranění pojistné události</h4>
							<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						</div>

						<!-- Modal body -->
						<div class="modal-body text-center">
							Chystáte se odstranit aktuální pojistnou událost. <br />
							Jste si jisti, že chcete pokračovat?
						</div>

						<!-- Modal footer -->
						<div class="modal-footer">
							<button type="submit" value="Delete" class="btn btn-danger" data-bs-dismiss="modal">Ano</button>
							<button type="button" class="btn btn-primary" data-bs-dismiss="modal">Ne</button>
						</div>

					</div>
				</div>
			</div>
			<a asp-controller="Clients" asp-action="InsuranceDetails" asp-route-id="@Model.Id" class="btn mx-2 mt-3 btn-secondary"><i class="bi bi-arrow-left-circle-fill"></i> Zpět</a>
		</div>

	</form>

</div>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}