@{
	ViewData["Title"] = "Varianty pojištění";
}

<div class="shadow p-3 rounded table-responsive-xs">

	<div class="my-1 pb-3"><h3>Varianty pojištění</h3></div>

	<div class="accordion" id="accordion">
		<div class="accordion-item">
			<h2 class="accordion-header" id="headingOne">
				<button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Pojištění majetku
				</button>
			</h2>
			<div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<table id="table-third" class="table table-bordered table-responsive">
						<thead class="table-secondary table-bordered">
							<tr>
								<th>Popis</th>
								<th>Základní parametry</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Pojištění pro případ poškození střechy, <br />
									oken a také pro celkové poškození <br />
									statiky přírodními živly.
								</td>
								<td>
									<ul>
										<li>Střecha až 2.000.000 Kč</li>
										<li>Okna až 500.000 Kč</li>
										<li>Statika domu až 5.000.000 Kč</li>
										<li>Vytopení až 500.000 Kč</li>
									</ul>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingTwo">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
					Pojištění úrazu
				</button>
			</h2>
			<div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<table id="table-third" class="table table-bordered table-responsive">
						<thead class="table-secondary table-bordered">
							<tr>
								<th>Popis</th>
								<th>Základní parametry</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Pojištění pro případ úrazu, hospitalizace<br />
									následkem úrazu, trvalých následků<br />
									a smrti způsobené úrazem.
								</td>
								<td>
									<ul>
										<li>Úraz až 2.000.000 Kč</li>
										<li>Hospitalizace až 20.000 Kč</li>
										<li>Trvalé následky až 1.000.000 Kč</li>
										<li>Smrt úrazem až 1.000.000 Kč</li>
									</ul>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingThree">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
					Životní pojištění
				</button>
			</h2>
			<div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<table id="table-third" class="table table-bordered table-responsive">
						<thead class="table-secondary table-bordered">
							<tr>
								<th>Popis</th>
								<th>Základní parametry</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Pojištění pro případ úrazu, hospitalizace<br />
									následkem úrazu, trvalých následků<br />
									a smrti způsobené úrazem a doplňkové <br />
									životní spoření.
								</td>
								<td>
									<ul>
										<li>Úraz až 2.000.000 Kč</li>
										<li>Hospitalizace až 20.000 Kč</li>
										<li>Trvalé následky až 1.000.000 Kč</li>
										<li>Smrt úrazem až 1.000.000 Kč</li>
										<li>Spoření od 500 Kč měsíčně až s 15% p.a</li>
									</ul>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

		<div class="accordion-item">
			<h2 class="accordion-header" id="headingFour">
				<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
					Povinné ručení
				</button>
			</h2>
			<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
				<div class="accordion-body">
					<table id="table-third" class="table table-bordered table-responsive">
						<thead class="table-secondary table-bordered">
							<tr>
								<th>Popis</th>
								<th>Základní parametry</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>
									Pojištění pro případ poškození vozidla <br />
									při nehodě, po střetu se zvěří a <br />
									základní úrazové pojištění v ceně.
								</td>
								<td>
									<ul>
										<li>Poškození vozidla až do 150.000.000 Kč</li>
										<li>Úraz až 1.000.000 Kč</li>
										<li>Střet se zvěří až 500.000 Kč</li>
										<li>Smrt úrazem až 1.000.000 Kč</li>
									</ul>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
